<!doctype html>
<html lang="pt-br" ng-app="crud">
<head>
	<meta charset="utf-8">
	<title>Crud</title>
	<link href="jquery-ui/jquery-ui.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<script src="jquery-ui/external/jquery/jquery.js"></script>
	<script src="jquery-ui/jquery-ui.js"></script>
	<script src="angular/angular.js"></script>
	<script src="javascript/app.js"></script>
	<script src="javascript/jquery-template.js"></script>
	<style type="text/css">
		td .button{
			width: 100%;
		}
	</style>

</head>
<body ng-controller="crudCtrl">

	<div class="accordion">
		<h3>Cadastro</h3>
		<div>
			<table>
				<tr>
					<td>
						<label for="nome">Nome </label>
					</td>
					<td>
						<input id="nome" class="input-text" type="text" ng-model="nome" placeholder="Nome"/>
					</td>
				</tr>
				<tr>
					<td>{{nomes}}</td>
					<td>
						<button class="button" ng-click="salvar(nome)">Salvar Nome</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
